In [14]:
import pandas as pd
import os
dataFrame = pd.read_excel("C:\\Users\\Asus\\Downloads\\Exc.xlsx", sheet_name = "Sunday",index_col = 0);
dataFrame
dataFrame.shape

(11, 4)

In [15]:
dataFrame.describe()

       Unnamed: 1 Unnamed: 2      Unnamed: 3        Unnamed: 4
count          10         10               1                 1
unique         10         10               1                 1
top      Keyword1      Dhaka  Longest Option  Shortest\nOption
freq            1          1               1                 1

In [16]:
dataFrame.values

array([[nan, nan, 'Longest Option', 'Shortest\nOption'],
       ['Keyword1', 'Dhaka', nan, nan],
       ['Keyword2', 'Sunday', nan, nan],
       ['Keyword3', 'Baby', nan, nan],
       ['Keyword4', 'School', nan, nan],
       ['Keyword5', 'Cricket', nan, nan],
       ['Keyword6', 'Momey', nan, nan],
       ['Keyword7', 'Int', nan, nan],
       ['Keyword8', 'Look', nan, nan],
       ['Keyword9', 'Hello', nan, nan],
       ['Keyword10', 'By', nan, nan]], dtype=object)

In [17]:
#dataFrame.to_excel("C:\\Users\\Asus\\Downloads\\Exc.xlsx", sheet_name = "Sunday",index = False );

In [18]:
#ls *.xlsx

In [19]:
#excel_header = ["ID", "Key","Items"];

In [20]:
#df = pd.DataFrame(columns = excel_header);

In [21]:
#writer = pd.ExcelWriter("C:\\Users\\Asus\\Downloads\\Excel.xlsx", engine = "xlsx");

In [22]:
#df.to_excel(writer, sheet_name = "");

In [23]:
#writer.save();

In [24]:
os.getcwd()

'C:\\Users\\Asus\\read_Excel'